<!DOCTYPE html>
<html>
<head>
    <link rel= "icon" href= "/img/weather.png">
   <link rel="stylesheet" href="/css/styles.css"
</head>

<body>
    <div class="main-content">
    {{>header}}
<h2>
    <img class="portrait" src="/img/jube.jpg">
    <p> Jubelyn T. Gerero </p>
    <p>Bachelor of Science and Information Technology</p>
    <p>Description: I am the leader of this group. 
    I am passionate about things I love such as my hobbies (arts, music, playing instruments) and I'm creative in some ways. I love discovering and trying new things. I have this favorite qoute from one of my favorite artist Vincent van Gogh "I am seeking, I am striving, I am in with all my heart". 
    </p></h2>
  

<h3>
    <img src="/img/henre.jpg"alt=""
    width="200" height="200">
    <p> Henressa M. Glee </p>
    <p>Bachelor of Science and Information Technology</p>
    <p>Description: I have passion in cooking and I also love reading wattpad and sleeping. As per my personality, I am friendly but i prefer being alone.</p> 
</h3>

<h4>
    <img src="/img/joan.jpg" alt=""
    width="200" height="200">
    <p> Joanna Rose I. Giga </p>
    <p>Bachelor of Science and Information Technology</p>
    <p>Description: Probably I act query in every situation that I don't know yet. And sometimes I'm peevish for a person who showed flirty in my sight. I'm always aware of my environment making the best support in the team. And also has a goal in mind: to be get along with everybody else. Then time past by I stopped acting cute and girly, avoided attention especially from boys, and put on a more tomboyish persona. To be gentle and act like in the stage of adulting I tryed to smile in every circumstances. I'm not an outgoing person but I prepared watching series and attending webinars to improve my communication skills and for the preparation in a business approach. </p></h4>
    <h5>
    <img src="/img/abe.jpg" alt=""
    width="200" height="200">

    <p> Abegail Goneo</p>
    <p>Bachelor of Science and Information Technology</p>
    <p>Description: Loves to try new things just for the sake of adventure, I sometimes possess the my way or the highway attitude. Sel discipline is what I value the most.</p>
</h5>
</h2>
</div>

   {{>footer}}
   
</body>

</html>